<section id="aboutMe">
    <div class="container-fluid">

        <div class="container-fluid">
            <div class="row py-2">
                <div class="col">
                    <div>
                        <h3 class="about-me-title border-bottom border-danger mb-5">About Me</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="container vh my-5">
            <div class="row text-justify">

                <div class="col-6 border-right border border-light rounded over-danger mt-3">

                    <div class=" elemento-aboutme mt-5">
                        <h2 class="titulo mb-2 d-inline"> Hi again! </h2>
                        <p class="mb-3 d-inline">My name is Roberto Escalante, I studied four years at
                            Instituto Tecnológico de Sonora.
                        </p>
                    </div>

                </div>

                <div class="col-6 border-left border-bottom border-light over-danger mt-3">

                    <div class="elemento-aboutme light-text">
                        <p class="my-3">
                            Some of my personal characterisitics are that
                            I care about others and I always want
                            to be better person.
                        </p>
                        <p class="mb-3">
                            Also I think that I am very creative and
                            enthusiastic for learning.
                        </p>
                        <p class="mb-3">
                            I like to listen, being self-critical and
                            do things right.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row text-justify">

                <div class="col-5 border border-left-0 border-light over-danger">

                    <div class="elemento-aboutme my-5">
                        <h2 class="text-center my-3 subtitulo">
                            Technologies I been working with lately:
                        </h2>

                        <div class="container-fluid">
                            <div class="row text-left text-center">
                                <div class="col light-text">
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Javascript</li>
                                        <li>Angular</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2 border border-light">

                    <div>
                        <div class="text-center">
                            <img class="img-fluid img-clip mb-3" src="assets/YoFormal.jpg">
                        </div>
                    </div>

                </div>

                <div class="col-5 border border-light over-danger">

                    <div class="elemento-aboutme my-5">
                        <h2 class="text-center my-3 subtitulo">
                            Some technologies I know about:
                        </h2>

                        <div class="container-fluid">
                            <div class="row text-left text-center">
                                <div class="col">
                                    <ul>
                                        <li>Kotlin</li>
                                        <li>Java</li>
                                        <li>C#</li>
                                        <li>MY SQL</li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-justify">

                <div class="col-6 border-top border-right border-light rounded over-danger">

                    <div class="elemento-aboutme">
                        <h2 class="text-center my-3 subtitulo">I am passionate for
                            learning more about:</h2>
                        <ul class="elemento-aboutme text-center">
                            <li>Mobile Development</li>
                            <li>Web Applications</li>
                            <li>UX & UI Design</li>
                        </ul>
                    </div>

                </div>

                <div class="col-6 border-left border-top border-light over-danger">

                    <div class="elemento-aboutme mt-3 light-text">
                        <p>
                            I think that mobile and web development have a bright future.

                            I feel so happy
                            when I can make something functional but at the same time it
                            feels and sees good.
                        </p>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>