<div class="container-fluid h-100">

    <div class="container-fluid">
        <div class="row border-bottom border-dark py-2">
            <div class="col">
                <div>
                    <h3 class="about-me-title">About Me</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container h-100 mt-5">
        <div class="row text-justify">
            <div class="col-6 border-right border-dark mt-5">
                <div class="elemento-aboutme mt-5">
                    <h2 class="titulo blue-text mb-2 d-inline"> Hi again! </h2>
                    <p class="mb-3 d-inline">My name is Roberto Escalante, I studied four years at
                        Instituto Tecnológico de Sonora.
                    </p>
                    <div class="container-fluid">
                        <div class="row text-left">
                            <div class="col-7">
                                <p class="my-3">
                                    Some of my personal characterisitics are that
                                    I care about others and I always want
                                    to be better person.
                                </p>
                                <p class="mb-3">
                                    Also I think that I am very creative and
                                    enthusiastic for learning.
                                </p>
                                <p class="mb-3">
                                    I like to listen, being self-critical and
                                    do things right.
                                </p>
                            </div>
                            <div class="col-5">
                                <img class="img-fluid img-clip"
                                    src="https://lh3.googleusercontent.com/d2q1DQBagGGgNc6-EaoLC64YLpu-z5hBHUZMhAmQuQnoccwGqEE5Fqb0is7pCmbYd9LWTDB9s3xnJdIozlZZXGtMeaQqCNRTdn8VVDzOrlTRYK9Rmq90r2cqn0gT-Lg3LBn14kNZgpVOLGJjB_hXwOIrlHz-iAUj5sGB4HSUzEYqRZHnIsnrFrV6xktA_nJWs7mJNB_-Hcr62Lx0Sw39VhO6huelQA8Q-kO1c5iuzkvb1K4-xaEkgJcp6KW4EP31ge4wGQSYSSjQHZqOs4SoPsBB5PIqk8WIllH8zOdY0fge9arjwZV17UYRdLUayEr9cTTAhiZXVJExOeUC-4DfUKiVlQevj80ZBsQCSiji-T7QoQkgoL7a4_Kk7StHRyUfQ3goO4KfdR6b23p3JM4n2KN5nTN8cxeGEmUxl9MMkx94HBbke11s29rPReTlXe06bqz1ERv04mwUWaASVKpGoDxC6eLLh0S680pL2nhKCg_UVGRm3CDiI4YrJwJr2OxwbwtUntNRfjjydETIFNXuaLXgxHx1KfEljxydAGrYMTBQ0TP3IDwiOqTYqAN47lQ2sI2O9j_Z3Pt14WI0CSZ6DPeTWm5cB2tpXYD3mcyZTj_1CL4dw1nsYXotcMsCWR16J-aedJkrCWkVgSihMjLmL9Kwd-j3Jln4Fq7-fM8n-QdANP6afwB-YFP6U565hExifX27_MOVQiHV3XRE6Mliv-3r=w706-h941-no?authuser=0">
                            </div>
                        </div>
                    </div>
                    <h2 class="text-center my-3 dark-text border-bottom border-dark subtitulo">
                        Technologies I been working with:
                    </h2>
                    <div class="container-fluid">
                        <div class="row text-left text-center">
                            <div class="col-6">
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Javascript</li>
                                    <li>Angular</li>

                                </ul>
                            </div>
                            <div class="col-6">
                                <li>Java</li>
                                <li>Kotlin</li>
                                <li>.NET</li>
                                <li>Git</li>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6 mt-5">
                <div class="text-center mt-5">
                    <h1 class="titulo mt-5 mb-3 border-bottom border-dark">I am passionate for learning more about:</h1>
                    <ul class="elemento-aboutme">
                        <li>Mobile Development</li>
                        <li>Web Applications</li>
                        <li>UX & UI Design</li>
                    </ul>
                </div>
                <div class="elemento-aboutme mt-3">
                    <p class="mt-1">
                        I think that mobile development have a bright future because almost every person in the world
                        has a cellphone and they use it even more than laptops or desktop computers. Mobile devices
                        gives us
                        a lot of tools that we can use like cameras, microphones and more, the only limit is our
                        imagination.
                    </p>
                    <p class="my-1">
                        One of the most entertainment things for me is the development of web pages, because you can
                        build
                        solutions to different necesities of people,
                        and they just need an internet connection and a explorer.
                    </p>
                    <p class="my-1">
                        For last, knowing UI and UX, you can create amazing web sites and mobile apps, I feel so happy
                        when
                        I can make something functional but at the same time it
                        feels and sees good.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>