<div class="container">
    <div class="fixed-bottom">
        <aside className="sidenav">
            <ul className="barra-redes">
                <li><i class="bi bi-facebook side-icon ml-4"></i></li>
                <li><i class="bi bi-instagram side-icon ml-4"></i></li>
                <li><i class="bi bi-twitter side-icon ml-4"></i></li>
                <li><i class="bi bi-github side-icon ml-4"></i></li>
                <li><i class="bi bi-discord side-icon ml-4"></i></li>
                <li><i class="bi bi-envelope-fill side-icon ml-4"></i></li>
            </ul>
        </aside>
    </div>
</div>