.navbar{  
  position: fixed;
  bottom: 0.7rem;
  padding: 0;
}

.side-icon {
  color: #ff5757;
  font-size: 2rem;
  display: inline;  
}

.side-icon:hover {
  color: var(--primary);
  cursor: pointer;  
}


