<div class="navbar">

    <ul>
        <li>
            <a href="https://github.com/rojoescala">
                <i class="bi bi-github side-icon ml-4"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/rojoescalante/">
                <i class="bi bi-instagram side-icon ml-4"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/roberto-jose-escalante-valdez-157928211/">
                <i class="bi bi-linkedin side-icon ml-4">

                </i>
            </a>
        </li>
    </ul>

</div>