.contact-title {
  font-family: "Potta One", cursive;
  font-size: 4vw;
  font-weight: 600;
  margin-left: 6rem;
  color: #d9d9d9;
  display: inline-block;
  padding-right: 15rem;
  text-shadow: 0.3rem 0.2rem 0 #272727, 0.4rem 0.3rem 0 #d9d9d9;
}

.subtitle-contact {
  color: #d9d9d9;
  font-size: xx-large;
}

.middle {  
  display: flex;
  align-items: center;
}


