<div class="container-fluid h-75">

    <div class="container-fluid">
        <div class="row py-2">
            <div class="col">
                <div>
                    <h3 class="contact-title border-bottom border-danger">Lets get in touch</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col mt-5">
                <div class="text-center mt-5">
                    <h3 class="subtitle-contact">Send me an email so we can get in touch</h3>
                    <button class="btn btn-danger btn-lg mt-5"><i class="bi bi-envelope-fill side-icon icon-email"></i>
                        Say Hi! </button>
                </div>
            </div>
        </div>
    </div>

</div>