<div class="container-fluid h-100">

    <div class="container-fluid">
        <div class="row bg-gradiante-dark rounded py-2">
            <div class="col">
                <div>
                    <h3 class="contact-title">Lets get in touch</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col mt-5">
                <div class="text-center mt-5">
                    <h3 class="subtitle-contact">Send me an email so we can get in touch</h3>
                    <button class="btn btn-danger btn-lg mt-5"> HI! </button>
                </div>
            </div>
        </div>
    </div>

</div>