<div class="container-fluid h-100">

    <div class="container-fluid border-top border-dark">
        <div class="row py-2">
            <div class="col">
                <div>
                    <h3 class="work-title border-bottom border-dark">My Work</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-5">
        <div class="row">
            <h2 class="titulo mb-3">
                Here are some of the projects that I been envolved:
            </h2>
        </div>
        <div class="row">
            <div class="col mt-5 border-right">
                <div class="card bg-dark text-light text-center subcontainer">
                    <i class="bi bi-envelope-fill side-icon icon-email"></i>
                    <div class="card-body">
                        <h5 class="card-title card-titulo">uEmail Mkt</h5>
                        <p class="card-text mt-4">
                            Web Application with Angular, ASP .NET & MY SQL.
                        </p>
                        <div class="mt-5">
                            <button class="btn btn-secondary">Go somewhere</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card bg-dark text-light text-center subcontainer">
                    <i class="bi bi-phone side-icon icon-email"></i>
                    <div class="card-body">
                        <h5 class="card-title card-titulo">Mi Papilla App</h5>
                        <p class="card-text mt-4">
                            Android Application with Kotlin & Firebase.
                        </p>
                        <div class="mt-5">
                            <button class="btn btn-secondary">Go somewhere</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>