<section id="work">
    <div class="container-fluid mt-5 vh">

        <div class="container-fluid">
            <div class="row py-2">
                <div class="col">
                    <div>
                        <h3 class="work-title border-bottom border-danger">My Work</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mt-5">

            <div class="row">
                <h2 class="titulo mb-3 text-light">
                    Here are some of the projects that I been envolved:
                </h2>
            </div>

            <div class="row">
                <div class="col mt-5 mx-auto">
                    <div class="card text-center subcontainer mx-5">
                        <i class="bi bi-envelope-fill side-icon icon-email"></i>
                        <div class="card-body">
                            <h5 class="card-title card-titulo">uEmail Mkt</h5>
                            <p class="card-text mt-5">
                                Web Application with Angular, ASP .NET & MY SQL.
                            </p>
                            <div class="mt-5">
                                <button class="btn btn-secondary" routerLink="uemail-mkt">See more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto mt-5">
                    <div class="card text-center subcontainer mx-5">
                        <i class="bi bi-phone side-icon icon-email"></i>
                        <div class="card-body">
                            <h5 class="card-title card-titulo">Mi Papilla App</h5>
                            <p class="card-text mt-5">
                                Android Application with Kotlin & Firebase.
                            </p>
                            <div class="mt-5">
                                <button class="btn btn-secondary" routerLink="mi-papilla">See more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>