.about-me-title {
  font-family: "Potta One", cursive;
  font-size: 4em;
  font-weight: 600;
  margin-left: 6rem;
  color: #272727;
  text-shadow: 0.3rem 0.2rem 0 #ff5757, 0.4rem 0.3rem 0 #d9d9d9;
}

.folder {
  background-color: rgba(56, 182, 255, 0.4);
  width: 50rem;
  height: 50rem;
  clip-path: polygon(
    0 5%,
    50% 5%,
    54% 0,
    76% 0,
    97% 0,
    100% 5%,
    100% 85%,
    85% 85%,
    15% 85%,
    0% 85%
  );
}

.folder:hover {
  background-color: rgba(56, 182, 255, 0.8);
}

.reverse {
  transform: scaleX(-1);
}
