<div class="container-fluid">
    <div class="row bg-primary py-2">
        <div class="col">
            <div>
                <h3 class="about-me-title">My Work</h3>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid h-100 mt-5">
    <div class="row">
        <div class="col mt-5 blue-text">
            <div class="folder reverse">
                <div class="ola">
                    Web Mobile Application with firebase
                </div>
            </div>
        </div>
        <div class="col mt-5 blue-text">
            <div class="folder">
                <div class="ola">
                    Web Mobile Application with firebase
                </div>
            </div>
        </div>
    </div>
</div>