.work-title {
  font-family: "Potta One", cursive;
  font-size: 4.2rem;
  font-weight: 600;
  margin-left: 6rem;
  color: #d9d9d9;
  display: inline-block;
  padding-right: 5vw;
  text-shadow: 0.3vw 0.2vw 0 #272727, 0.4vw 0.3vw 0 #d9d9d9;
}

.subcontainer {
  border: 0.2rem solid #d9d9d9;
  border-radius: 1rem;
  margin: auto;
}

.titulo {
  font-size: 1.2rem;
  margin-left: 7vw;
  font-weight: 450;
}

.card-titulo {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
}

.icon-email {
  font-size: 5rem;
}

.card:hover,
button {
  cursor: pointer;
  background-color: #ff5757 !important;
  color: #272727 !important;
}
