<div class="container-fluid bg-dark h-100">
    <div class="row margen-personalizado">
        <div class="col-6">
            <div class="text-center">
                <img src="https://lh3.googleusercontent.com/F8lPP9AvT92A8_wxVZb4LT2-j_XbdHLYTUIYKeHKgO7XOR8MDhlA9dlhqtf8WSwqIz_x_PzKUaY3j_to6duuSlMAB9G80qnqQQ9Eoh4MfkbIgkj2meNgGZpPsJitLbsS_HxY6TF1r16knJv12XB_Wo6DCxb23mqhDLvihLSqUc7JLNg9NClQr3nvrSvxxmM7XUz5F4s3kK0I8PP7VBQgcUN53uXfuGWxv-nQQHXILHtyRDdKNlYX1bwycbjKrGNC3G2SsGG9c0uLyAbLD5rJJF_R_GNPLkCzqVGoOvwxAY8-KnYzoeUgYrmK1nfixet_QLGn95KBZ6Cwzs1hEfjgTd3AKIi16_uHtO5HBi7aFjV1KiZvxoSzZq5f7tUYm-TXu9J4k3AdAAXNQqmTrm9SDLZ3RjWsWlXpQRIto4V8XAGlwEaiB7MGu54PeaH86jzY1J4o1PuPA4K9XndmbkPM1XhwcuVerhkvDHizlyyRNHLQ42ivP2yWvLJcfcrJhkxhFv8tXIn_92Uz-8HFQEtWAK_HbD8glQ9nYvlUKvFm19UXurKbQiNOmWDZgZ2ESkLVfX3JswneLGzVWAtPxvNDNI8Xv85cmBY-ii4YngSHPNl3PP3lUJoLZK-xJT8Xe8jsByxYqR0_DJbzOi8HJYqj8klHoNpOenZDQkGRqsPdqg3_CQxqZhJdukhyDD7bkpMKmvkgL38nW_hj31LNik_mqlA5=s867-no?authuser=0"
                    class="img-fluid foto rounded-circle float-right mr-4" alt="Me">
            </div>
        </div>
        <div class="col-6 mt-3">
            <h1 class="titulo">Hi, my name is Roberto</h1>
            <h1 class="subtitulo mx-5">I am a software engineer</h1>
        </div>
    </div>
</div>