<div class="container-fluid vh">
    <div class="row margen-personalizado">
        <div class="col">
            <div class="text-center">
                <img src="assets/RobertoJusta.jpg" class="rounded-circle mr-4 foto" alt="Me">
            </div>
        </div>
        <div class="col mt-3">
            <h1 class="titulo">Hi, my name is Roberto</h1>
            <h1 class="subtitulo">I am a software engineer</h1>
        </div>
    </div>
</div>

<about-me>

</about-me>

<work>

</work>

<contact>

</contact>