/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*
 ng deploy --base-href=https://rojoescala.github.io/portafolio/
  Rojo coral #ff5757
  Gris calido #d9d9d9
  azul #38b6ff
  Nvo gris: #6c757d
*/

:root {
  --primary: #38b6ff;
  --danger: #ff5757;
  --secondary: #d9d9d9;
  --dark: #272727;
  --new-gray: #6c757d;
}

body {
  background: #272727;
  color: #d9d9d9;
}

body::-webkit-scrollbar{
 width: .5rem;
}

body::-webkit-scrollbar-thumb{
  background-color: var(--danger);
  border-radius: 8rem;
}


/*Estilos por defecto para todos los navegadores */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
